@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nunito", sans-serif;
  color: #234cad;
}
.card-product{
  border-radius: 60px;
  background: #F2F6FF;
  width:575px;
  height:575px;
}
.card-content{
  width: 538px;
  height: 360px;
}
.card1{
  width: 438px;
  border-radius: 25px;
  background-color: #FFFFFF;
}
.card2{
  width: 350px;
  border-radius: 20px;    
  background-color: #FFFFFF;
}
.card3{
  width: 262px;
  border-radius: 15px;
  background-color: #FFFFFF;
}
.product .content h2{
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
.product .content{
  width: 340px;
margin-left:200px;
}
.product button{
height: 65px;
width: 200px;
border-radius: 32.5px;
border: 2px solid #234CAD;
font-weight: 700;
}

.features{
  margin-top: 140px;
}
.features .content h1{
font-size: 48px;
font-weight: 700;
line-height: 56px;
}
.features .content p{
width:425px;
height:52px;
font-size: 16px;
font-weight: 400;
line-height: 26px;  
}
@media screen and (max-width: 500px){
  .card-content,.card1, .product,.card-product img{
  width: 100%;
  }
  .card2{
    width: 90%;
  }
  .card3{
    width: 80%;
  }
 {
    width: 100%;
  }
}

@media screen and (max-width: 1000px){
  .product .row{
      margin: 0 auto;
     
  }
  .product .content{
     margin:20px auto;
  }
  .features{
      margin-top: 80px;
  }
}
@media screen and (min-width: 1000px){   
.product .content{
  margin:20px auto;
}

}
.index .website-elements-section-text-left {
	align-self: center;
	margin-right: 135px;
	margin-top: 50px;
	min-width: 1040px;
  }
  
  .index .content {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin-top: 1px;
	min-height: 360px;
	width: 365px;
  }
  
  .index .text-content-18 {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 25px;
	min-height: 245px;
	width: 369px;
  }
  
  .index .main-title-3 {
	min-height: 168px;
	width: 365px;
  }
  
  .index .card-9 {
	height: 575px;
	width: 575px;
  }
  
  .index .website-elements-section-pricing {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 75px;
	margin-top: 150px;
	min-height: 588px;
	width: 1240px;
  }
  
  .index .text-content-19 {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 25px;
	margin-left: 5px;
	min-height: 133px;
	width: 601px;
  }
  
  .index .main-title-4 {
	margin-right: 4px;
	text-align: center;
	white-space: nowrap;
	width: 597px;
  }
  
  .index .body-text-4 {
	letter-spacing: 0;
	line-height: 26px;
	margin-right: 4px;
	min-height: 52px;
	text-align: center;
	width: 365px;
  }
  
  .index .website-elementscardspricing-container {
	align-items: flex-start;
	display: flex;
	gap: 50px;
	min-width: 1240px;
  }
  
  .index .website-elements-car {
	align-items: flex-start;
	display: flex;
	min-width: 380px;
  }
  
  .index .card-1 {
	align-items: center;
	background-color: var(--zircon);
	border-radius: 60px;
	display: flex;
	height: 380px;
	min-width: 380px;
	padding: 0 53px;
  }
  
  .index .card-content {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 280px;
	width: 274px;
  }
  
  .index .subtitle {
	margin-left: 2px;
	min-width: 60px;
  }
  
  .index .price {
	min-width: 68px;
  }
  
  .index .body-text-2 {
	letter-spacing: 0;
	line-height: 32px;
	margin-left: 2px;
	margin-top: 15px;
	min-width: 94px;
	text-align: center;
	white-space: nowrap;
  }
  
  .index .learn-more-button {
	align-items: flex-start;
	background-color: var(--white);
	border-radius: 37.5px;
	display: flex;
	height: 75px;
	margin-top: 36px;
	overflow: hidden;
	padding: 17px 71px;
	width: 274px;
  }
  
  .index .learn-more {
	letter-spacing: 0;
	line-height: 40px;
	min-width: 132px;
	text-align: center;
	white-space: nowrap;
  }
  
  .index .overlap-group-10 {
	border-radius: 60px;
	height: 380px;
	position: relative;
	width: 380px;
  }
  
  .index .card-content-1 {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 280px;
	left: 53px;
	position: absolute;
	top: 50px;
	width: 274px;
  }
  
  .index .subtitle-1 {
	margin-left: 1px;
	min-width: 101px;
  }
  
  .index .price-1 {
	margin-left: 1px;
	min-width: 101px;
  }
  
  .index .cta-button {
	align-items: flex-start;
	border: 3px solid;
	border-color: var(--denim-blue);
	border-radius: 37.5px;
	display: flex;
	height: 75px;
	margin-top: 36px;
	overflow: hidden;
	padding: 14px 68px;
	width: 274px;
  }
  
  .index .button-text-1 {
	line-height: 40px;
	min-width: 133px;
  }
  
  .index .stroke-2 {
	border: 3px solid;
	border-color: var(--denim-blue);
	border-radius: 60px;
	height: 380px;
	left: 0;
	width: 380px;
  }
  
  .index .subtitle-2 {
	margin-left: 3px;
	min-width: 115px;
  }
  
  .index .price-2 {
	margin-left: 1px;
	min-width: 135px;
  }
  :root {
	--black: #000000;
	--black-squeeze: #f6fafb;
	--denim-blue: #234cad;
	--white: #ffffff;
	--zircon: #f2f6ff;
  
	--font-size-l: 18px;
	--font-size-m: 16px;
	--font-size-s: 12px;
	--font-size-xl: 22px;
	--font-size-xs: 10px;
	--font-size-xxl: 25px;
	--font-size-xxxl: 48px;
  
	--font-family-basic: "Basic", Helvetica;
	--font-family-nunito: "Nunito", Helvetica;
  }
  .nunito-normal-denim-blue-12px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-s);
	font-style: normal;
	font-weight: 400;
  }
  
  .nunito-bold-denim-blue-16px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-m);
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-normal-denim-blue-18px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-l);
	font-style: normal;
	font-weight: 400;
  }
  
  .nunito-bold-denim-blue-10px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-xs);
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-bold-denim-blue-18px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-l);
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-normal-denim-blue-10px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-xs);
	font-style: normal;
	font-weight: 400;
  }
  
  .nunito-bold-denim-blue-48px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-xxxl);
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-normal-denim-blue-16px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-m);
	font-style: normal;
	font-weight: 400;
  }
  
  .nunito-bold-black-squeeze-6px {
	color: var(--black-squeeze);
	font-family: var(--font-family-nunito);
	font-size: 6px;
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-bold-denim-blue-30px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-bold-denim-blue-22px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-xl);
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-semi-bold-denim-blue-18px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-l);
	font-style: normal;
	font-weight: 600;
  }
  
  .nunito-normal-denim-blue-25px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-xxl);
	font-style: normal;
	font-weight: 400;
  }
  
  .nunito-bold-denim-blue-56px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-normal-denim-blue-20px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
  }
  
  .nunito-bold-denim-blue-25px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-xxl);
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-semi-bold-denim-blue-30px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
  }
  
  .nunito-normal-denim-blue-22px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-xl);
	font-style: normal;
	font-weight: 400;
  }
  :root {
	--black: #000000;
	--black-squeeze: #f6fafb;
	--denim-blue: #234cad;
	--white: #ffffff;
	--zircon: #f2f6ff;
  
	--font-size-l: 18px;
	--font-size-m: 16px;
	--font-size-s: 12px;
	--font-size-xl: 22px;
	--font-size-xs: 10px;
	--font-size-xxl: 25px;
	--font-size-xxxl: 48px;
  
	--font-family-basic: "Basic", Helvetica;
	--font-family-nunito: "Nunito", Helvetica;
  }
  .nunito-normal-denim-blue-12px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-s);
	font-style: normal;
	font-weight: 400;
  }
  
  .nunito-bold-denim-blue-16px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-m);
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-normal-denim-blue-18px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-l);
	font-style: normal;
	font-weight: 400;
  }
  
  .nunito-bold-denim-blue-10px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-xs);
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-bold-denim-blue-18px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-l);
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-normal-denim-blue-10px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-xs);
	font-style: normal;
	font-weight: 400;
  }
  
  .nunito-bold-denim-blue-48px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-xxxl);
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-normal-denim-blue-16px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-m);
	font-style: normal;
	font-weight: 400;
  }
  
  .nunito-bold-black-squeeze-6px {
	color: var(--black-squeeze);
	font-family: var(--font-family-nunito);
	font-size: 6px;
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-bold-denim-blue-30px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-bold-denim-blue-22px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-xl);
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-semi-bold-denim-blue-18px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-l);
	font-style: normal;
	font-weight: 600;
  }
  
  .nunito-normal-denim-blue-25px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-xxl);
	font-style: normal;
	font-weight: 400;
  }
  
  .nunito-bold-denim-blue-56px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-normal-denim-blue-20px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
  }
  
  .nunito-bold-denim-blue-25px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-xxl);
	font-style: normal;
	font-weight: 700;
  }
  
  .nunito-semi-bold-denim-blue-30px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
  }
  
  .nunito-normal-denim-blue-22px {
	color: var(--denim-blue);
	font-family: var(--font-family-nunito);
	font-size: var(--font-size-xl);
	font-style: normal;
	font-weight: 400;
  }	